/* Style for the card container */
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f3f8;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: calc(100% - 40px);
    box-sizing: border-box;
  }
  
  /* Style for card content */
  .card-content {
    text-align: center;
  }
  
  /* Style for input fields */
  /* Style for input fields */
/* Style for input fields */
.card-content .input-field {
    width: calc(100% - 48px); /* Adjusted width to account for padding and border */
    margin-bottom: 20px; /* Increased margin for more space between text fields */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  /* Style for login button */
  .card-content Button {
    margin-top: 25px; /* Add margin between input fields and button */
  }
  